# this file should won't be read unless it exists in the
# context directory specified in the docker compose file

node_modules
#**/.turbo
#**/.cache
#**/apps/*/.next
#**/packages/*/dist
#**/packages/*/docs
#**/.eslintcache